.leaflet-container {
  height: 100%;
  width: 100%;
}

#root {
  height: 100vh;
}

html,
body,
#root > *,
.ui.grid {
  height: 100%;
  min-height: 100%;
}

.leaflet-container {
  cursor: inherit !important;
}

.item.disabled {
  opacity: 0.5;
}
